<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
</head>

<body>

  <script src="https://cdn.bootcss.com/socket.io/2.1.0/socket.io.js"></script>
  
  <script>
    const log = console.log;

    window.onload = function () {
      // init
      const socket = io('/', {

        // 实际使用中可以在这里传递参数
        query: {
          room: 'demo',
          userId: `client_${Math.random()}`,
        },

        transports: ['websocket']
      });

      socket.on('connect', () => {
        const id = socket.id;

        log('#connect,', id, socket);

        // 接收在线用户信息
        socket.on('online', msg => {
          log('#online,', msg);
        });

        // 监听自身 id 以实现 p2p 通讯
        socket.on(id, msg => {
          log('#receive,', msg);
        });

        // 系统事件
        socket.on('disconnect', msg => {
          log('#disconnect', msg);
        });

        socket.on('disconnecting', () => {
          log('#disconnecting');
        });

        socket.on('error', () => {
          log('#error');
        });

      });

      window.socket = socket;
    };

  </script>
</body>

</html>